# Variables para servicio backend en Dockploy (produccion)
NODE_ENV="production"
DATABASE_URL="mysql://root:password@brisasdellago-brisasdellago-uxjgcc:3306/Brisasdellago"
PORT=3000
# Dominio real del frontend en produccion. Si hay varios, separa por coma.
CORS_ORIGIN="https://tu-frontend.com"
